{% extends "layout.html" %}

{% block content %}
    <h1>Practice from Youtube!</h1>
	<p class="lead">Slow down Youtube videos with ease.</p>
	<p class="lead">
	<form action="{{ url_for('main') }}" method=post>
		<table align="center">
			{{ form.hidden_tag() }}
			<tr align="center">
				<td align="center">
					{{ form.url.label }}
					{{ form.url }}
				</td>
			</tr>

			<tr align="center">
				<td align="center">
					{{ form.submit }}
				</td>
			</tr>
		</table>
	</form>
	</p>
{% endblock %}
